{% extends "layout.html" %}
{% block body %}

<div class="main container-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Hello World
        <p class="lead">Lorem40</p>
        <h4>Features:</h4>
        <ul>
          <li>None</li>
        </ul>
        <h4>Stack:</h4>
         <ul>
          <li><a href="http://flask.pocoo.org/" title="Flask" target="_blank">Flask</a></li>
          <li><a href="https://flask-wtf.readthedocs.io/en/stable/" title="Flask-WTForms" target="_blank">Flask-WTForms</a></li>
          <li><a href="http://getbootstrap.com/" title="Bootstrap" target="_blank">Bootstrap</a></li>
          <li><a href="https://www.heroku.com/" title="Heroku" target="_blank">Heroku</a></li>
        </ul>       
      </div>
    </div>
  </div>
</div>


{% endblock %}